<div class="container mt-5">    
    <div *ngIf="!newEmailMode" style="text-align:center">
        <h1>Simple SPA aplication for creating new e-mails</h1>    
            <p class="lead">
            Fronted je napravljem u Angular frameworku, korišteni su Bootstrap i ReactiveForms.
            Obrirom da sam backend developer, ovo je skroman frontend :) </p>
            <p class="lead">
                Backend je kreiran u .Net Coru 5. Aplikacija je veoma jednostavna pa nisam komplicirao sa layerima. 
                Ubacio sam Repository pattern i manualno napravio mappere - eventualno se mogao koristiti i Automapper.</p>
            <p class="lead">
                Za povezivanje sa bazom korišten je EntityFrameworkCore, za bazu sam odabrao Sqlite jer je dovoljno dobra za ovaj zadatak.</p>            
        <div class="center">
            <button (click)="eMailToggle()" class="btn btn-primary btn-lg mr-2">Pošaljite novi e-mail</button>
        </div>
    </div>

    <div *ngIf="newEmailMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-novi-email (cancelNewEmailMode)="cancelNewEmailMode($event)"></app-novi-email>
            </div>
        </div>
    </div>
</div>