<div class="container mt-5">    
    <div *ngIf="!newEmailMode" style="text-align:center">
        <h1>Simple SPA aplication for creating new e-mails</h1>    
            <p class="lead">
                The frontend is created in the Angular framework, Bootstrap and ReactiveForms were used. </p>
            <p class="lead">
                The backend is created in .Net Core. The application is very simple so I didn't complicate it with layers.
                 It uses Repository pattern and have custom-made mappers and validation</p>
            <p class="lead">
                EntityFrameworkCore was used as ORM, Sqlite was chosen for the database for simplicity.</p>            
        <div class="center">
            <button (click)="eMailToggle()" class="btn btn-primary btn-lg mr-2">Send new e-mail</button>
        </div>
    </div>

    <div *ngIf="newEmailMode" class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <app-novi-email (cancelNewEmailMode)="cancelNewEmailMode($event)"></app-novi-email>
            </div>
        </div>
    </div>
</div>