<form [formGroup]='emailForm' (ngSubmit)="emailForm.valid && newEmail()" autocomplete="off">
    <h2 class="text-center text-primary">New e-mail</h2>
    <hr>
    <div class="form-group">
        <input 
            [class.is-invalid]='emailForm.get("from").errors && emailForm.get("from").touched'
            type="email" 
            class="form-control" 
            formControlName='from' 
            placeholder="From">
            <div *ngIf="emailForm.get('from').hasError('required')" class="invalid-feedback">This field is required</div>
            <div *ngIf="emailForm.get('from').hasError('email')" class="invalid-feedback">Email address is invalid</div>
            <div *ngIf="emailForm.get('subject').hasError('maxlength')" class="invalid-feedback">Maximum input characters in this field is 100</div>
    </div>
    <div class="form-group">
        <input 
            [class.is-invalid]='emailForm.get("to").errors && emailForm.get("to").touched'
            type="email" 
            class="form-control" 
            formControlName='to' 
            placeholder="To">
            <div *ngIf="emailForm.get('to').hasError('required')" class="invalid-feedback">This field is required</div>
            <div *ngIf="emailForm.get('to').hasError('email')" class="invalid-feedback">Email address is invalid</div>
            <div *ngIf="emailForm.get('subject').hasError('maxlength')" class="invalid-feedback">Maximum input characters in this field is 100</div>
    </div>    
    <div class="form-group">
        <input 
            [class.is-invalid]='emailForm.get("cc").errors && emailForm.get("cc").touched'
            type="text" 
            class="form-control" 
            formControlName='cc' 
            placeholder="Cc">
            <div *ngIf="emailForm.get('cc').hasError('required')" class="invalid-feedback">This field is required</div>
            <div *ngIf="emailForm.get('subject').hasError('maxlength')" class="invalid-feedback">Maximum input characters in this field is 100</div>
    </div>  
    <div class="form-group">
        <label class="control-label" style="margin-right: 10px;">Importance: </label>
        <label class="radio-inline">
            <input type="radio" value='low' formControlName='importance'> Low
        </label>
        <label class="radio-inline">
            <input type="radio" value='medium' formControlName='importance' class="ml-3"> Medium
        </label>
        <label class="radio-inline">
            <input type="radio" value='high' formControlName='importance' class="ml-3"> High
        </label>
    </div>
    <div class="form-group">
        <input 
            [class.is-invalid]='emailForm.get("subject").errors && emailForm.get("subject").touched'
            type="text" 
            class="form-control" 
            formControlName='subject' 
            placeholder="Subject">
            <div *ngIf="emailForm.get('subject').hasError('required')" class="invalid-feedback">This field is required</div>
            <div *ngIf="emailForm.get('subject').hasError('maxlength')" class="invalid-feedback">Maximum input characters in this field is 100</div>
    </div>
    <textarea 
        [class.is-invalid]='emailForm.get("content").errors && emailForm.get("content").touched'
        class="form-control" form="contentBox" rows="6"         
        formControlName='content' 
        placeholder="Content"></textarea>
        <div *ngIf="emailForm.get('content').hasError('required')" class="invalid-feedback">This field is required</div>
        <div *ngIf="emailForm.get('subject').hasError('maxlength')" class="invalid-feedback">Maximum input characters in this field is 500</div>
    <hr>
    <div class="row" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>
    <div class="form-group text-center">
        <button [disabled]='!emailForm.valid' class="btn btn-success btn-lg mr-2" type="submit">Send</button>
        <button class="btn btn-warning btn-lg mr-2" (click)="openModal(template)" type="button">Cancel</button>
    </div>
</form>

<alert *ngIf="saveAlert" type="success" dismissible="true" (onClosed)="onClosed(alert)">
    <strong>Well done: </strong> E-mail sent successfully!
</alert>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cancel</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>If you have made changes, any unsaved changes will be lost.</p>
    <button class="btn btn-warning btn-lg mr-2" (click)="confirmCancel()" type="button">Cancel</button>
  </div>
</ng-template>
